# requirements.txt
pandas
sqlalchemy
psycopg2-binary
python-dotenv
torch 
transformers 
datasets 
scikit-learn
transformers[torch]
matplotlib
fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langchain-core
langchain.prompts
langchain.chains
langchain.llms