# requirements.txt
pandas
sqlalchemy
psycopg2-binary
python-dotenv
torch 
transformers 
datasets 
scikit-learn
transformers[torch]
streamlit
matplotlib
fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langchain-core
bs4
aiohttp
